<div class="card">
    <div class="card-header">Pridėti naują vaiką į technikų būrelį</div>
    <div class="card-body">
        <form [formGroup]="technicianForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Vardas:</label>
                <input type="text" formControlName="name" class="form-control" >
                <span class="help-block" *ngIf="!technicianForm.get('name')?.valid && technicianForm.get('name')?.touched">Vardo laukelyje gali būti iki 16 simbolių</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Pavardė:</label>
                <input type="text" formControlName="surname" class="form-control">
                <span class="help-block" *ngIf="!technicianForm.get('surname')?.valid && technicianForm.get('surname')?.touched">Pavardės laukelyje gali būti iki 16 simbolių</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Elektroninis paštas:</label>
                <input type="text" formControlName="email" class="form-control">
                <span class="help-block" *ngIf="!technicianForm.get('email')?.valid && technicianForm.get('email')?.touched">Elektroninis paštas yra netinkamas</span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Klasė</label>
                <input type="number" class="form-control" formControlName="klass">
                <span class="help-block" *ngIf="!technicianForm.get('klass')?.valid && technicianForm.get('klass')?.touched">Dalyvauti gali tik 6-12 klasėse esantys vaikai</span>
            </div>
            <hr>
                <h4>Alergijų sąrašas</h4>
                <button type="button" class="btn btn-success" (click)="addAlergie()" >Pridėti vaiko alergiją</button>
                <div formArrayName="alergie">
                    <div class="mb-3 mt-3" *ngFor="let alergie of alergies; let i = index">
                     <input type="text" class="form-control" [formControlName]="i">
                    </div>
                    <button *ngIf="technicianForm.get('alergie')?.valid!=null" type="button" class="btn btn-danger mt-3" (click)="deleteAlergie()">Pašalinti alergiją</button>
                </div>
            <hr>
            <button type="submit" [disabled]="!technicianForm.valid" class="btn btn-success" >Pridėti</button>
        </form>
    </div>
    
</div>